version: "3.8"

services:
  db:
    image: postgres:15
    container_name: template_service
    environment:
      POSTGRES_DB: template_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
