spring:
  application:
    name: Template Service
  datasource:
    url: jdbc:postgresql://localhost:5432/template_service_db
    username: postgres
    password: secret
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      idle-timeout: 30000
      maximum-pool-size: 10
      auto-commit: true
      pool-name: MyHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1.0.0
    locations: classpath:/db/migration, classpath:/db/migration_test, classpath:/db/migration_prod
    schemas: public

server:
  port: 8080

logging:
  level:
    root: DEBUG
    org:
      springframework:
        security: DEBUG